<div class="post-container">
  <h1><%= @post.title %></h1>

  <%= @post.content %>

  <div class="details">
    <b><%= @post.user.nickname %></b><br />
    Published at <%= @post.publish_date %><br />
    <p>
      <%= link "Edit", to: post_path(@conn, :edit, @post), class: "link-button" %>
    </p>
  </div>
</div>

<%= link "Back", to: post_path(@conn, :index), class: "link-button" %>
