<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= get_page_title %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header class="navigation" role="banner">
      <div class="navigation-wrapper">
        <a href="<%= page_path(@conn, :index) %>" class="logo">
          <img src="/images/logo.png" alt="Logo Image">
        </a>
        <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
        <nav role="navigation">
          <ul id="js-navigation-menu" class="navigation-menu show">
              <%= if signed_in?(@conn) do %>
                <li class="nav-link">
                  <%= link "Posts", to: post_path(@conn, :index) %>
                </li>
                <%= if is_admin?(@conn) do %>
                  <li id="js-navigation-more" class="nav-link more">
                    <a href="javascript:void(0)">Admin</a>
                    <ul class="submenu">
                      <li class="nav-link">
                        <%= link "Roles", to: role_path(@conn, :index) %>
                      </li>
                      <li class="nav-link">
                        <%= link "Users", to: user_path(@conn, :index) %>
                      </li>
                    </ul>
                  </li>
                <% end %>
                <li class="nav-link">
                  <%= link "Profile", to: user_path(@conn, :edit, current_user(@conn).id) %>
                </li>
                <li class="nav-link">
                  <%= link "Log Out", to: session_path(@conn, :delete, 1), method: :delete %>
                </li>
              <% else %>
                <li class="nav-link">
                  <%= link "Log In", to: session_path(@conn, :new) %>
                </li>
              <% end %>
            </li>
          </ul>
        </nav>
        <div class="navigation-tools">
          <div class="search-bar">
            <form role="search">
              <input type="search" placeholder="Enter Search" />
              <button type="submit">
                <img src="/images/search.png" alt="Search Icon">
              </button>
            </form>
          </div>
        </div>
      </div>
    </header>

    <%= for type <- [:info, :error] do %>
      <%= if flash = get_flash(@conn, type) do %>
        <div class="flash-<%= type %>">
          <%= flash %>
          <div class="box-close"></div>
        </div>
      <% end %>
    <% end %>

    <main class="main" role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <footer class="footer" role="contentinfo">
      <div class="footer-logo">
        <img src="/images/logo.png" alt="Logo image">
      </div>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
