<h2>Settings</h2>

<div class="settings-container">
  <%= for setting <- @settings do %>
    <div class="setting-description">
      <%= setting.description %>
    </div>
    <div class="setting-value">
      <%= form_for Setting.changeset(setting), page_path(@conn, :save_setting), fn f -> %>
        <%= hidden_input f, :name, value: setting.name %>
        <%= render_setting(f, setting.type) %>
      <% end %>
    </div>
  <% end %>
</div>
